<div class="level">
    <h4 class="level-name">
        {{tree.levelName | titlecase}}
    </h4>

    <ul class="level-entries">
        <ng-container *ngFor="let entry of tree.entries; index as i">
            <li
                *ngIf="entry.child; else edgeNode"
                (click)="showChildIndex = i"
                class="level-entry">
                {{entry.name}}
                <i class="material-icons icon-expandable">keyboard_arrow_right</i>
                
                <app-select
                    *ngIf="showChildIndex === i"
                    (selected)="onSelect($event, entry.name)"
                    [tree]="entry.child">
                </app-select>
            </li>

            <ng-template #edgeNode>
                <li 
                    (click)="selected.emit([entry.name])"
                    class="level-entry">
                    {{entry.name}}
                </li>
            </ng-template>
        </ng-container>
    </ul>
</div>