@import "./assets/styles/normalize.scss";
@import "./assets/styles/colors.scss";

:root {
    --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

.btn {
    font-family: var(--font-family);
}
