:root {
    --primary-light-50: #f5e4ff;
    --primary-light: #ead1f8;

    --grey-1: #e5e5e5;
    --grey-2: #cccccc;
    --grey-3: #b3b3b3;
    --grey-4: #999999;
    --grey-5: #808080;
    --grey-6: #666666;
    --grey-7: #4d4d4d;
    --grey-8: #333333;
    --grey-9: #313131;
    --grey-075: #ececec;
    --grey-05: #f2f2f2;
    --grey-025: #f9f9f9;
}
